* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#nav-container {
  display: block;
}
#navbar {
  background: blue;
  color: white;
  overflow: auto;
  display: flex;
  padding-left: 80px;
  /* padding-bottom: 1rem; */
  /* padding-top: 10px; */
  /* margin-left: 15px; */
  /* margin-right: 15px; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#navbar h4 {
  padding-left: 75px;
}

#navbar h5 {
  padding-left: 83rem;
}

#navbar img {
  /* padding-left: 93rem; */
  height: 30px;
  border-radius: 50%;
  /* margin-top: -30px; */
}

#navbar input {
  padding-right: 30px;
}

#navbar button {
  margin-left: -35px;
}

#menu-container {
  display: block;
  width: 10%;
  background-color: lightgray;
}
#menu {
  display: flex;
  flex-direction: column;
  height: 15rem;
  justify-content: space-around;
  align-items: center;
}

#menu button {
  width: 80%;
}

#main-container {
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
}

.small-vid {
  width: 300px;
  height: 200px;
  display: block;
  margin-right: -20em;
  margin-top: 3%;
}
/* #video {
   width: 70%; 
} */

#video-body {
  flex-basis: 71%;
}
/* #side-videos {
  padding: -50px 0 -50px 0;
} */

#comment-container {
  background-color: aliceblue;
  border-style: solid;
  padding: 0% 0.5% 0.5% 0.5%;
  margin-top: 0.5%;
  width: 94.5%;
}
#comments ul {
  list-style: none;
}
#comments li {
  margin-top: 1%;
}
#description-container {
  background-color: aliceblue;
  border-style: solid;
  padding: 0% 0.5% 0.5% 0.5%;
  width: 94.5%;
}
#description-container p {
  margin-top: 0.5%;
}
#viewer-interaction img {
  height: 3em;
}
#viewer-interaction {
  display: flex;
  flex-direction: row;
  margin: 0.5% 0 0.5% 0;
  gap: 25rem;
}
#viewer-interaction-first-half,
#viewer-interaction-second-half {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

#viewer-interaction-second-half {
  justify-content: space-evenly;
}

#uploader-info {
  margin-left: 0.5rem;
}

#viewer-interaction h5 {
  font-size: 1em;
  margin-left: 0.5%;
}
#subscribe-button {
  margin-left: 2.5%;
  padding: 0.4% 1% 0.4% 1%;
  font-size: 1.3em;
}

#like-dislike-button-container {
  display: flex;
  gap: 1rem;
}
#like-button,
#dislike-button {
  padding: 0.3rem 0.8rem;
}

#video-body h1 {
  margin: 2rem 0 1rem 0;
}
